<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carosello Immagini Vue</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="slider">
                <div class="slider-img">
                    <div class="item-container">
                        <div v-for="(elem, indice) in itemArray" class="item" :class="iscorrente(indice)">
                            <img :src="elem.immagine">
                            <div class="item-text">
                                <p class="title">{{elem.titolo}}</p>
                                <p>{{elem.testo}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="vertical-img">
                        <div v-for="(elem, indice) in itemArray" class="opaco" :class="iscorrente(indice)">
                            <img :src="elem.immagine">
                        </div>
                    </div>
                </div>
                <div class="prev" @click="scorriSu"> &#708; </div>
                <div class="next" @click="scorriGiu"> &#709; </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/script.js"></script>


</body>

</html>